
@import './normallize.css';

body{
    padding: 0;
    margin: 0;
    /* font-fami */
}

:root {
    --color-text: #666;
    --color-high-text: #5777;
    --color-tint: #ff8198;  /* 背景颜色 */
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5;

    --large-size: 50px;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  */
}

body {

}